*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
}
#wrap{
    flex-wrap: wrap;
}
.flex{
    display: flex;
}

.header1{
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.48);
    padding: 4px;
    box-shadow: 0 11px 12px 0 rgba(255,255,255,0.5);
}
.logo{
    height: 35px;
    width: auto;
    margin: 0 auto;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url("../Images/WhatsApp Image 2022-11-15 at 19.01.23.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.hhero{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    padding: 20px;
}
.header{
    margin: 10px auto;
    padding: 1px;
    width: 90%;
    height: fit-content;
    background: rgba(144,238,144,0.4);
    text-align: center;
    color: lightgray;
    font-family:'Courier New', Courier, monospace;
    border-radius: 40px;
}
.start{
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 40px;
    border-bottom: 1px solid white;
    border-radius: 10px;
    width: 320px;
    height: fit-content;
}
.container{
    width: 340px;
    margin: 80px auto;
    height: fit-content;
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    width: 100%;
}

.about{
    padding: 5px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about p{
    padding: 20px;
}
.ab1{
    width: 100%;
    height: 100vh;
    background-image: url("../Images/WhatsApp Image 2022-11-15 at 19.01.23.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.ab2{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    padding-top: 70px;
}
.ab-cont{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
    padding: 12px;
    margin: 0 auto;
}
.ab11{
    width: 100%;
    height: 40vh;
    background-image: url("../Images/WhatsApp Image 2022-11-15 at 19.01.23.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.ab12{
    width: 100%;
    height: 40vh;
    background: rgba(0,0,0,0.6);
    padding-top: 70px;
}
.ab-cont{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
    padding: 12px;
    margin: 0 auto;
}
.ab3{
    width: 80%;
    height: fit-content;
    border: white 1px solid;
    border-top: none;
    margin: 5px auto;
    padding: 10px;
    border-radius: 0 0 12px 12px;
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact{
    padding: 10px;
    margin: 10px auto;
    background: transparent;
    width: 320px;
    height: fit-content;
    text-align: center;
    border-radius: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contact i {
    font-size: 20px;
    color: green;
    float: center;
    margin: 0 auto;
    width: 44px;
    height: 44px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.contact a{
    color: orange;
    text-decoration: none;
}
.join{
    width: 120px;
    height: fit-content;
    background-color: lightgreen;
    border-radius: 0 12px 10px 14px;
    border: none;
    padding: 5px;
    box-shadow: 0 7px 7px 0 rgba(0,0,0,0.5);
}

.event{
    padding: 3px;
    margin: 10px auto;
    width: 320px;
    height: fit-content;
}
.event1{
    width: 100%;
    margin: 10px auto;
    height: fit-content;
    background-color: rgba(144,238,144,0.3);
    padding: 9px;
    border-radius: 13px;
    box-shadow: 0 7px 7px 0 rgba(0,0,0,0.5);
}
.event1 img{
    width: 100%;
}
.more{
    background-color: transparent;
    color: green;
    border-radius: 0 0 14px 14px;
    border: none;
    width: 160px;
    margin: 16px auto;
    padding: 5px;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.6);
}

.learn1{
    padding: 10px;
    margin: 10px auto;
    width: 90%;
    height: fit-content;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.learn2{
    width: 320px;
    height: fit-content;
    margin: 5px auto;
    background-color: white;
    color: black;
    border-radius: 2px;
    box-shadow: 0 7px 11px rgba(0,0,0,0.6);
    border: solid 1px black;
}
.learn2 i {
    font-size: 70px;
    color: lightgoldenrodyellow;
    margin: 10 auto;
    width: 100px;
    height: 100px;
    background: lightgreen;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.footer{
    width: 100%;
    height: fit-content;
    bottom: 0;
    padding: 5px;
    background-color: grey;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.social i {
    font-size: 20px;
    color: green;
    margin: 0 auto;
    width: 27px;
    height: 27px;
    background: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}